<form action="/rewards" enctype="multipart/form-data" method="POST">
  <p>Reward Input File: <input type="file" name="reward" /></p>
  <input type="submit" />
</form>

<p>Please use the provided (within this codebase) sample.txt file</p>
